<!-- manage-subjects.component.html -->
<div class="manage-subjects">
    <h2>Manage Subjects</h2>
    <button mat-raised-button color="primary" (click)="openAddStudentDialog()">Add Subjects</button>

<div class="user-list">
    <div class="user-card" *ngFor="let subject of subjects">
      <div class="user-info">
        <div class="info-item">
          <span class="label">Name : </span> {{ subject.subject }}
        </div>
       
        <div class="info-item">
          <span class="label">Code:</span> {{ subject.course }}
        </div>
        <div class="info-item">
          <span class="label">description:</span> {{ subject.credit }}
        </div>
          <!-- <button (click)="openEditCourseDialog(course,course._id)">Edit</button>
          <button (click)="deleteCourse(course._id)">Delete</button> -->
        </div>
      </div>
     
    </div>
  </div>
  
    