<div class="admin-dashboard">
    <h1>Admin Dashboard  </h1>
    <div class="stats-cards">
      <app-stat-card title="Total Students" [count]="totalStudents"></app-stat-card>
      <app-stat-card title="Total Teachers" [count]="totalTeachers"></app-stat-card>
      <app-stat-card title="Total Records" [count]="totalAttendanceRecords"></app-stat-card>
    </div>
    <div class="admin-actions">
      <button routerLink="/admin/manage-teachers" (click)="manageTeachers()">Manage Teachers</button>
      <button routerLink="/admin/manage-students"(click)="manageStudents()">Manage Students</button>
      <button routerLink="/admin/attendance-reports"(click)="AttendanceReport()">Attendance Reports</button>
      <button routerLink="/admin/manage-courses"(click)="ManageCourses()">Manage Courses</button>
    </div>
  </div>
  