<div class="dashboard-container">
    <h1>Student Dashboard</h1>
    
    <!-- Statistics Cards -->
    <div class="stats-cards">
      <app-stat-card title="Total Subjects" [count]="totalSubjects"></app-stat-card>
      <app-stat-card title="Total Classes" [count]="totalClasses"></app-stat-card>
      <app-stat-card title="Attended Classes" [count]="attendedClasses"></app-stat-card>
      <app-stat-card title="Attendance Percentage" [count]="attendancePercentage"></app-stat-card>
    </div>
  
    <!-- Action Buttons -->
    <div class="student-actions">
      <div *ngFor="let action of actions" class="action-card" (click)="onActionClick(action.route)">
        <i [class]="action.icon"></i>
        <span>{{ action.title }}</span>
      </div>
      <div class="student-actions">
        <button routerLink="/view-subjects-s" (click)="ViewSubjectsS()">View Subjects</button>
        <button routerLink="/view-attendance-s"(click)="ViewAttendanceS()">Manage Students</button>
        <button routerLink="/download-reports-s"(click)="AttendanceReport()">Attendance Reports</button>
        <button routerLink="/profile-settings-s"(click)="ProfileSettingsS()">Profile Settings</button>
      </div>
    </div>
  </div>