<h2>Manage Students</h2>
<button mat-raised-button color="primary" (click)="openAddStudentDialog()">Add Student</button>

<div class="user-list">
  <div class="user-card" *ngFor="let user of users">
    <div class="user-info">
      <div class="info-item">
        <span class="label">ID:</span> {{ user._id }}
      </div>
      <div class="info-item">
        <span class="label">Name:</span>
        {{ user.name || (user.firstname + ' ' + user.lastname) }}
      </div>
      <div class="info-item">
        <span class="label">Username:</span> {{ user.username }}
      </div>
      <div class="info-item">
        <span class="label">Email:</span> {{ user.email }}
      </div>
      <div class="actions">  
        <button (click)="openEditStudentDialog(user,user._id)">Edit</button>
        <button (click)="deleteStudent(user._id)">Delete</button>
      </div>
    </div>
   
  </div>
</div>
<app-logout-button></app-logout-button>