<h2>Manage Teachers</h2>
<button mat-raised-button color="primary" (click)="openAddTeacherDialog()">Add Teacher</button>
<div class="user-list">
  <div class="user-card" *ngFor="let user of users">
    <div class="user-info">
      <div class="info-item">
        <span class="label">ID:</span> {{ user._id }}
      </div>
      <div class="info-item">
        <span class="label">Name:</span>
        {{ user.name || (user.firstname + ' ' + user.lastname) }}
      </div>
      <div class="info-item">
        <span class="label">Username:</span> {{ user.username }}
      </div>
      <div class="info-item">
        <span class="label">Email:</span> {{ user.email }}
      </div>
      <div class="info-item">
        <span class="label">Role:</span> {{ user.role }}
      </div>
    </div>
    <div class="actions">
      
      <button (click)="editTeacher(user)">Edit</button>
      <button (click)="deleteTeacher(user._id)">Delete</button>
    </div>
  </div>
</div>