.logout-btn {
    position: absolute;
    font-size: 12px;
    top: 15px;
    right: 25px;
    background-color: #f74744;
    color: white;
    border: none;
    padding: 5px 12px;
    border-radius: 7px;
    cursor: pointer;
  }
  .logout-btn:hover {
    background-color: #d32f2f;
  }
  