<div *ngIf="students.length > 0; else noClasses">
  <h2>Mark Attendance</h2>

  <form (ngSubmit)="submitAttendance()">
    <table border="1">
      <tr>
        <th>Student Name</th>
        <th>Present</th>
        <th>Absent</th>
      </tr>
      <tr *ngFor="let s of students">
        <td>{{ s.firstname }} {{ s.lastname }}</td>
        <td>
          <input type="radio"
                 [name]="'status-' + s._id"
                 [value]="'Present'"
                 [(ngModel)]="attendanceData[s._id]"
                 required
                 [ngModelOptions]="{standalone: true}">
        </td>
        <td>
          <input type="radio"
                 [name]="'status-' + s._id"
                 [value]="'Absent'"
                 [(ngModel)]="attendanceData[s._id]"
                 [ngModelOptions]="{standalone: true}">
        </td>
      </tr>
    </table>

    <button type="submit">Submit Attendance</button>
  </form>
</div>

<ng-template #noClasses>
  <p style="text-align: center;">No students available for the class.</p>
</ng-template>
