<h2>Scheduled Classes</h2>

<ul *ngIf="scheduledClasses.length > 0; else noClasses">
  <li *ngFor="let classItem of scheduledClasses">
    <div>
      <strong>Subject:</strong> {{ classItem.subject }}<br>
      <strong>Date:</strong> {{ classItem.date | date: 'longDate' }}<br>
      <strong>Time:</strong> {{ classItem.startTime }} - {{ classItem.endTime }}
    </div>
    <button (click)="openAttendance(classItem)">Mark Attendance</button>
  </li>
</ul>

<ng-template #noClasses>
  <p style="text-align: center;">No scheduled classes available.</p>
</ng-template>