<h2>Scheduled Classes</h2>

<ul *ngIf="scheduledClasses.length > 0; else noClasses">
  <li *ngFor="let classItem of scheduledClasses">
    <div>
      <strong>Subject:</strong> {{ classItem.subject }}<br>
      <strong>Date:</strong> {{ classItem.date | date: 'longDate' }}<br>
      <strong>Time:</strong> {{ classItem.startTime }} - {{ classItem.endTime }}
    </div>
    <button (click)="openAttendance(classItem,classItem._id)">Mark Attendance</button>
    <button routerLink="/schedule-classes-t" (click)="editSchedulededClass(classItem, classItem._id)" style="background-color: orange;margin-left: 1rem;">Edit</button>
    <button (click)="deleteSchedulededClass(classItem._id)" style="background-color: red;margin-left: 1rem;">Delete</button>
  </li>
</ul>

<ng-template #noClasses>
  <p style="text-align: center;">No scheduled classes available.</p>
</ng-template>