<h2>Manage Course</h2>
<button mat-raised-button color="primary" (click)="openAddCourseDialog()">Add Course</button>

<div class="user-list">
    <div class="user-card" *ngFor="let course of courses">
      <div class="user-info">
        <div class="info-item">
          <span class="label">Name : </span> {{ course.name }}
        </div>
       
        <div class="info-item">
          <span class="label">Code:</span> {{ course.code }}
        </div>
        <div class="info-item">
          <span class="label">description:</span> {{ course.description }}
        </div>
        <div class="info-item">
            <span class="label">semester:</span> {{ course.semester }}
          </div>
        <div class="actions">  
          <button (click)="openEditCourseDialog(course,course._id)">Edit</button>
          <button (click)="deleteCourse(course._id)">Delete</button>
        </div>
      </div>
     
    </div>
  </div>